{
  "extends": "airbnb",
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "typescript",
    "react",
    "import",
    "jsx-a11y"
  ],
  "env": {
    "browser": true
  },

  "rules": {
    "no-undef": 0,
    "no-unused-vars": "warn",
    "new-cap": [2, {"capIsNewExceptions": ["Map", "List", "FromJS", "Record"]}],
    "max-len": [2, {"code": 100, "tabWidth": 2}],
    "class-methods-use-this": 0,
    "comma-dangle": ["error", "only-multiline"],
    "object-curly-newline": ["error", {"consistent": true, "multiline": true}],
    "function-paren-newline": ["error", "consistent"],
    "no-restricted-globals": ["error", "event", "fdescribe"],
    "prefer-destructuring": ["error", {
      "VariableDeclarator": {
        "array": false,
        "object": true
      },
      "AssignmentExpression": {
        "array": false,
        "object": false
      }
    }],
    "typescript/no-unused-vars": "warn",
    "typescript/no-use-before-define": "warn",
    "react/sort-comp": [1, {
      "order": [
        "type-annotations",
        "static-methods",
        "lifecycle",
        "everything-else",
        "render"
      ]
    }],
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
    "react/require-default-props": 0,
    "react/no-find-dom-node": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["error", { "components": [ "Link" ], "specialLink": ["to"] }],
    "jsx-a11y/click-events-have-key-events": 0
  }
}
