{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "rules": {
    "import/no-unresolved": 0,
    "react/prop-types": 0,
    "new-cap": [2, {"capIsNewExceptions": ["Map", "List", "FromJS"]}],
    "max-len": [2, {"code": 100, "tabWidth": 2}],
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "react/no-find-dom-node": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "import/prefer-default-export": 0,
    "class-methods-use-this": 0,
    "comma-dangle": ["error", "only-multiline"],
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/label-has-for": "off",
    "object-curly-newline": ["error", {"consistent": true, "multiline": true}],
    "function-paren-newline": ["error", "consistent"],
    "no-restricted-globals": ["error", "event", "fdescribe"],
    "prefer-destructuring": ["error", {
      "VariableDeclarator": {
        "array": false,
        "object": true
      },
      "AssignmentExpression": {
        "array": false,
        "object": false
      }
    }],
    "jsx-a11y/anchor-is-valid": ["error", {"components": [ "Link" ], "specialLink": ["to"]}],
    "react/require-default-props": 0
  }
}
