.auth {
  width: 100%;
  height: 100%;
  background: white;
}

.auth__header {
  background-color: $contentBg;
  border-bottom: 1px solid #cfcfcf;
}

.auth__title {
  margin: 0;
  text-transform: uppercase;
  height: 55px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__form {
  width: 260px;
  border-radius: 10px;
  background-color: $contentBg;
  margin:  90px auto 0 auto;
  padding: 10px 25px;
  border: 1px solid #cfcfcf;
}

.auth__block {
  padding-bottom: 15px;
}

.auth__block_name {
  font-size: 0.9em;
  margin-bottom: 3px;
  display: inline-block;
}

.auth__info {
  text-align: center;
  font-size: 0.8em;
  margin-top: 30px;
}
