.empty-table {
  margin: 0 auto;
  text-align: center;
  width: 600px;
}

.empty-table__icon {
  font-size: 200px;
  color: #BDBDBD;
}

.empty-table__title {
  font-size: 3em;
}

.empty-table__text {
  color: #424242;
  font-size: 1.5em;
}
